.price-prev {
    color: gray;
    text-decoration: line-through;
}

.slick-next {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: .3s;
    outline: none;
    opacity: .9;
    position: absolute;
    padding-left: 7px;
    border-radius: 100px 0 0 100px;
    right: 0;
    cursor: pointer;
}

.slick-prev {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: .3s;
    outline: none;
    opacity: .9;
    position: absolute;
    padding-right: 7px;
    border-radius: 0 100px 100px 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

/*LIST-PRODUCT*/

.title-product-list-2 {
    position: relative;
    padding: 19px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.floor-1 .title-product-list-2 {
    background: url(https://www.petcity.vn/media/lib/shopcho.png);
}

.title-product-list-2 h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.border-product {
    padding-bottom: 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.pagination {
    justify-content: center;
}

.addCart {
    display: inline-block;
    padding: 0 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: solid 0px #e51f28;
    margin-right: 10px;
}

#img-large img {
    display: inline-block;
}

/*TAB PRO DETAIL*/

#tab-pro-info .title-tab-pro {
    height: 46px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    text-align: center;
}

#tab-pro-info .title-tab-pro button {
    float: left;
    text-decoration: none;
    height: 45px;
    line-height: 49px;
    margin-right: 0;
    padding: 0 15px;
    color: #444;
    text-transform: uppercase;
    border: 0;
    font-size: 14px;
    border-radius: 0;
}

#tab-pro-info .title-tab-pro button:nth-child(1) {}

#tab-pro-info .title-tab-pro button.current, #tab-pro-info .title-tab-pro button.active {
    color: #fff;
    font-weight: bold;
    background: #e51f28;
}

#tab-pro-info {}

#tab-pro-info .content-tab-pro {
    padding: 10px 0;
}

#tab-pro-info .content-tab-pro * {
    max-width: 100%;
}