.price-prev {
    color: gray;
    text-decoration: line-through;
}

.slick-next {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: .3s;
    outline: none;
    opacity: .9;
    position: absolute;
    padding-left: 7px;
    border-radius: 100px 0 0 100px;
    right: 0;
    cursor: pointer;
}

.slick-prev {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: .3s;
    outline: none;
    opacity: .9;
    position: absolute;
    padding-right: 7px;
    border-radius: 0 100px 100px 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

/*LIST-PRODUCT*/

.title-product-list {
    position: relative;
    padding: 0;
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    top: 0;
    border-bottom: 1px solid #ddd;
}

.title-product-list h2 {
    margin: 0;
    line-height: 32px;
    color: #4c4c4c;
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    top: 22px;
}

.title-product-list-2 {
    position: relative;
    padding: 19px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.floor-1 .title-product-list-2 {
    background: url(https://www.petcity.vn/media/lib/shopcho.png);
}

.title-product-list-2 h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.border-product {
    padding-bottom: 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}